---
import { parseYearMonth } from '../common/parseYearMonth';
const { project } = Astro.props;
const { slug, data } = project;
const { title, start_date, end_date, image, description } = data;
---

<article class="card project">
  {image ? <image src={image.src} alt={image.alt} width="300" class="card-image" /> : null}

  <div class="card-body">
    <h3>
      <a href={`/projects/${slug}`}>
        {title}
      </a>
    </h3>
    <p>{description}</p>
    <span>
      <time datetime={start_date}>{() => parseYearMonth(start_date)}</time>
       -
      <time datetime={end_date}>{() => parseYearMonth(end_date)}</time>
    </span>
  </div>
</article>

<style>
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-m);
    background-color: var(--background);
    transition: all var(--transition);
    text-align: center;
    width: min(19rem, 90vw);
    border-radius: var(--space-2xs);
    overflow: hidden;

    & img {
      object-fit: contain;
      aspect-ratio: 16 / 9;
      width: 100%;
      height: auto;
    }

    & .card-body {
      padding-inline: var(--space-xs);
      padding-block-end: var(--space-xs);
      display: flex;
      flex-direction: column;
    }

    & h3 {
      font-size: var(--step-1);
      text-align: center;

      & a {
        text-decoration: none;
        transition: all var(--transition);
        text-align: center;
      }
    }
  }

  article:hover {
    cursor: pointer;
    background-color: var(--surface-hover);
    transform: scale3d(101%, 101%, 100%);
  }
</style>
